* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 60%;
  padding: 45px;
}
.row {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-md-7 {
  padding: 20px;
}
.col-md-5 {
  background: var(--gradient-bg);
  padding: 20px;
  color: white;
}
.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  box-sizing: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.d-flex p {
  font-size: 18px;
  padding-left: 10px;
  font-weight: bold;
}
.icon {
  font-size: 2rem;
}
.text-white {
  margin-left: 10px;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
