.navbar {
  background: var(--color-bg);
}
li {
  font-weight: bold;
}
.navbar img {
  height: 50px;
  width: 50px;
}
li:hover {
  color: var(--color-bg);
  opacity: 0.5;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
