.navbar {
  background: var(--color-bg);
}
li {
  font-weight: bold;
}
.navbar img {
  height: 50px;
  width: 50px;
}
li:hover {
  color: var(--color-bg);
  opacity: 0.5;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.login-signup button {
  padding: 5px;
  background: var(--color-fsu1);
  border-radius: 5px;
  border-style: none;
}
button {
  padding: 5px;
  background: var(--color-fsu1);
  border-radius: 5px;
  border-style: none;
}
@media screen and (max-width: 996px) {
  .login-signup {
    flex-direction: column;
  }
}
